<ion-view view-title="Appetite">
    <ion-content scroll="false">
        <div id="page-intro" class="page-intro">
            <ion-slide-box >
                <ion-slide>
                    <div id="slide-intro-1" class="slide-intro">
                        <div class="slide-intro-wrapper">
                            <div class="info">
                                <div class="row">
                                    <div class="col col-80 col-offset-10">
                                        <div class="logo">
                                            <span>Appetite</span>
                                            <h6>Universitário</h6>
                                        </div>
                                        <p>Vai a faculdade?</p>
                                        <p>Que tal dá uma olhadinha no cardápio de hoje?</p>
                                        <button ui-sref="app.belem" class="button-get-started button button-outline button-light">
                                            Entrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <!-- <ion-slide>
                    <div id="slide-intro-2" class="slide-intro">
                        <div class="slide-intro-wrapper">
                            <div class="info">
                                <div class="row">
                                    <div class="col col-80 col-offset-10">
                                        <div class="logo">
                                            <span>Coffee</span>
                                        </div>
                                        <p>Bring home the coffee they serve in award winning restaurants.</p>
                                        <button ui-sref="app.belem" class="button-get-started button button-outline button-light">
                                            Get Started
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide> -->
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>
