<ion-view view-title="{{menu.name}}">
    <ion-header-bar align-title="center" class="bar-light">
        <ion-nav-bar align-title="center">
            <ion-nav-buttons>
                <button class="button button-clear button-icon" ng-click="goBack()" ><i class="ion-chevron-left"></i></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </ion-header-bar>
    <ion-content ng-init="init()">
        <div class="cate-lv2">
            <h6> {{cardapioDoDia.dia}}</h6>
            <div class="card cate-lv2-item" ng-repeat="cardapio in cardapioDoDia.cardapios" >
                <div class="item item-thumbnail-left item-text-wrap" >
                    <img ng-src="img/product/0.jpg">

                    <h3 style="color:red">{{cardapio.titulo}}</h3>

                    <h6 ng-repeat="item in cardapio.itens">{{item}}</h6>

                    <br />
                    <div class="price"></div>
                    <div class="like"><i class="ion-heart"></i> 1065</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
