<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-view name="menuAppContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <div class="side-menu-logo">
                <a class="logo"><i class="icon ion-university"></i>Appetite</a>
                <h6>Universitário</h6>
            </div>
            <ion-list class="sidebar list-no-border">
                <ion-item menu-close class="item-icon-left" ui-sref="intro">
                    <i class="icon ion-university"></i>
                    Home
                </ion-item>
                <ion-item menu-close class="item-icon-left" ui-sref="app.belem">
                    <i class="icon ion-ios-partlysunny"></i>
                    Belém
                </ion-item>
                <ion-item menu-close class="item-icon-left" ui-sref="app.sao_paulo" ng-show="false">
                    <i class="icon ion-ios-rainy"></i>
                    São Paulo
                </ion-item>
                <ion-item menu-close class="item-icon-left" ui-sref="app.favorito" ng-show="false">
                    <i class="icon ion-star"></i>
                    Favoritos
                </ion-item>
                <ion-item menu-close class="item-icon-left" ui-sref="app.profile" ng-show="true">
                    <i class="icon ion-fork"></i>
                    Sobre
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
