<ion-view view-title="Profile">
    <ion-content id="page-profile" class="header-background" scroll="false">
        <ion-header-bar align-title="center">
            <div class="buttons">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </div>
            <h1 class="title">O que é?</h1>
        </ion-header-bar>

        <div class="box">
            <div class="info">
                <div class="avatar">
                    <img src="img/avatar.jpg" alt="avatar" />
                </div>
                <h2 class="name">Appetite</h2>
                <div class="position">Um aplicativo para auxiliar universitários a visualizarem
                  todo o cardápio disponível diariamente na universidade.
                  Esse aplicativo ainda está na fase de teste. Sendo assim, pode ocorrer alguns
                  bugs. Se encontrar algum bug ou deseja sugerir melhorias não hesite em nos
                  contactar.
                  <i class="icon ion-social-whatsapp-outline"></i>
                  (91)99388-0977
                </div>
                <div class="links">
                    <div class="row">
                        <div class="col">
                            <div class="number">2</div>
                            <p>Comer</p>
                        </div>
                        <div class="col">
                            <div class="number">0</div>
                            <p>é</p>
                        </div>
                        <div class="col">
                            <div class="number">1</div>
                            <p>uma</p>
                        </div>
                        <div class="col">
                            <div class="number">6</div>
                            <p>arte</p>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="false">
                    <div class="col">
                        <button ui-sref="app.category" class="button-follow button button-block button-outline button-light">
                            Folllow
                        </button>
                    </div>
                </div>

            </div>
        </div>


    </ion-content>
</ion-view>
